name: Deploy Prod
on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    name: Docker image generation
    permissions:
      packages: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3.0.2
        with:
          fetch-depth: 0
          ref: main
      - uses: satackey/action-docker-layer-caching@v0.0.11
        # Ignore the failure of a step and avoid terminating the job.
        continue-on-error: true
        
      - run: docker build --tag easyerp:prod-${{ github.sha }} .
      - name: Push to ECR
        id: ecr
        uses: jwalton/gh-ecr-push@v1
        with:
          access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          region: us-east-1
          local-image: easyerp:prod-${{ github.sha }}
          image: easyerp:prod-${{ github.sha }}, easyerp:latest
      
        
      - uses: chrislennon/action-aws-cli@v1.1
        # All commands after this point have access to the AWS CLI
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: us-east-1
          ACTIONS_ALLOW_UNSECURE_COMMANDS: true
      - run: aws ecs update-service --cluster easyerp-prod --service easyerp-prod --force-new-deployment
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: us-east-1
          ACTIONS_ALLOW_UNSECURE_COMMANDS: true
        
          
